
@{
    ViewBag.Title = "Administration Tools";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h3>@ViewBag.Title</h3>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <p class="text-primary text-bold"><a href="/Home">Memory Audio</a></p>
                <p>377/24B CMT8, P.12, Q.10, HCM</p>
                <p>Phone: 0914.38.02.38 - 0908.318.708</p>
            </div>
            <!-- /.col -->
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
