@{
    ViewBag.Title = "Memory Audio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- CONTENT -->
<section class="s-12 m-12 l-9 xl-10">
    <div class="container">
        <div class="col-lg-12 mx-auto">
            <h5 class="text-primary">@ViewBag.Title</h5>
            <img src="~/Content/img/error_robot.png" style="max-height:72px;" />
            <p class="text-danger" style="margin:10px 0px;">Có lỗi xảy ra trong quá trình xử lý yêu cầu!</p>
            <p><a href="/Home" class="btn btn-sm btn-primary">Về trang chủ</a></p>
        </div>
    </div>
</section>
