@using MemoryAudio.Models.Home
<!-- TOP NAV -->
<div class="line">
    <nav>
        <p class="nav-text">Main navigation</p>
        <div class="top-nav">
            @Html.Raw(MenuModel.GetTopMenuItems())
        </div>
    </nav>
</div>
