
@{
    ViewBag.Title = "Về chúng tôi";
}

<!-- CONTENT -->
<section class="s-12 m-12 l-9 xl-10">
    <div class="container">
        <div class="col-lg-12 about-container">
            <h5 class="text-primary">@ViewBag.Title</h5>
            <img src="~/Content/img/banner_1.jpg" style="display:block;"/>
            <br />
            <br />
            <p class="lead">
                Memory Audio được lập vào tháng 7 năm 2017, chuyên cung cấp các thiết bị và phụ kiện audio chất lượng cao 
                từ các nhãn hiệu nổi tiếng có nguồn gốc từ Châu Âu.
            </p>
            <p>
                Hòa nhịp vào cuộc sống hiện đại với cường độ và áp lực công việc cao thì nhu cầu hưởng thụ âm nhạc cũng trở
                nên khắc khe hơn, người yêu nhạc bắt đầu chú ý đến thiết bị và khả năng trình diễn của thiết bị hơn là quan
                niệm "có để nghe là được". Hiểu được tâm tư đó, chúng tôi mong muốn góp một phần nhỏ vào cuộc chơi audio đầy
                thú vị này. Hầu hết các thiết bị và linh kiện chúng tôi được chọn lọc kỹ, giá tiền phù hợp so với việc phải
                bỏ ra một số tiền lớn để mua mới. Sự đầu tư tốn kém đôi khi chưa chắc hiệu quả mà mang lại sự hài lòng. Hay
                trong tầm giá là phương châm phục vụ của chúng tôi. 
            </p>
            <p>
                Ở một dòng chảy khác, một khi đã hài lòng với thiết bị đã phối ghép, người chơi sẽ chuyển qua một cấp độ cao
                hơn, đó là sự phiêu lưu và "trải nghiệm". Nói một cách khác cụ thể hơn thì đây là cuộc chơi của các audiophile,
                một hành trình gian nan nhưng cũng không kém phần thú vị. Ở cấp độ này chúng tôi sẽ khắt khe hơn, các vấn đề
                về phòng nghe, nguồn điện cũng được xem xét cẩn thận nhằm khai thác tối đa khả năng của thiết bị. 
            </p>
            <p>Hân hạnh và trân trọng được phục vụ quý khách!</p>
            <p>MEMORY AUDIO</p>
        </div>
    </div>
</section>



