
@{
    ViewBag.Title = "Thông tin liên hệ";
}

<!-- CONTENT -->
<section class="s-12 m-12 l-9 xl-10">
    <div class="container">
        <div class="col-lg-12 mx-auto">
            <h5 class="text-primary">@ViewBag.Title</h5>
            <h6><i class="fa fa-map-marker"></i><strong>Địa chỉ</strong></h6>
            <p>Cafe Milano</p>
            <p>11 Nguyễn Sơn Hà, P5, Q3, TP.HCM</p>
            <h6><i class="fa fa-phone"></i><strong>Hotline</strong></h6>
            <p>Phone/Zalo: 0914.38.02.38 (a Sơn)</p>
            <h6><i class="fa fa-map"></i><strong>Bản đồ</strong></h6>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1959.7742706378363!2d106.6827037!3d10.7692347!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f2276b33d51%3A0x8b50de167d5eb367!2sMilano+Coffee!5e0!3m2!1svi!2s!4v1534909783038" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>>
        </div>
    </div>
</section>
