
@{
    ViewBag.Title = "Thông tin liên hệ";
}

<!-- CONTENT -->
<section class="s-12 m-12 l-9 xl-10">
    <div class="container">
        <div class="col-lg-12 mx-auto">
            <h5 class="text-primary">@ViewBag.Title</h5>
            <h6><i class="fa fa-map-marker"></i><strong>Địa chỉ</strong></h6>
            <p>377/24B CMT8, P.12, Q.10, HCM</p>
            <h6><i class="fa fa-phone"></i><strong>Hotline</strong></h6>
            <p>0914.38.02.38 (Zalo)</p>
            <h6><i class="fa fa-map"></i><strong>Bản đồ</strong></h6>
            <img src="~/Content/img/map.jpg" />
        </div>
    </div>
</section>
