
@{
    ViewBag.Title = "Thông tin thanh toán";
}

<!-- CONTENT -->
<section class="s-12 m-12 l-9 xl-10">
    <div class="container">
        <div class="col-lg-12 mx-auto">
            <h5 class="text-primary">Thanh toán</h5>
            <br />
            <h6><i class="fa fa-map-marker"></i><strong>Khu vực Hồ Chí Minh</strong></h6>
            <p>Quý khách vui lòng giao dịch tại địa chỉ <a href="/Lien-he">tại đây</a></p>
            <br />
            <h6><i class="fa fa-phone"></i><strong>Tỉnh thành khác</strong></h6>
            <p>
                Quí khách vui lòng liên hệ trực tiếp qua số điện thoại, zalo: <span class="text-primary">0908.318.708</span> để
                được cung cấp thông tin tài khoản và hình thức vận chuyển.
            </p>
        </div>
    </div>
</section>
